<form action="/payment/results">
  <label for="first_number">APR</label>
  <input type="text" id="first_number" name="user_apr" placeholder="E.g. 5.42"><br>
  <label for="second_number">Number of years</label>
  <input type="text" id="second_number" name="user_years" placeholder="How many years to repay?"><br>
    <label for="third_number">Principal</label>
  <input type="text" id="third_number" name="user_pv" placeholder="How much principal?"><br>
  <button>Calculate monthly payment</button>
</form>
