<form action="/random/results">
  <label for="first_number">Minimum</label>
  <input type="text" id="first_number" name="user_min" placeholder="E.g. 1.5"><br>
  <label for="second_number">Maximum</label>
  <input type="text" id="second_number" name="user_max" placeholder="E.g. 4.5"><br>
  <button>Pick random number</button>
</form>
