<form action="/square_root/results">
  <label for="first_number">Enter a number</label>
  <input type="text" id="first_number" name="number" placeholder="What number would you like to square root"><br>
  <button>Calculate square root</button>
</form>
