<form action="/square/results">
  <label for="first_number">Enter a number</label><br>
  <input type="text" id="first_number" name="number" placeholder="What number would you like to square"><br>
  <button>Calculate square</button>
</form>
